<a href="https://colab.research.google.com/github/shiftkey-labs/PythonDA-course/blob/main/Week_3_%26_4_Pandas%2C_NumPy%2C_Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**ShiftKey Labs Academy UP - Foundations of Data Analytics with Python**

Certification by ShiftKey Labs. Content created by Sahil Chawla.

---

Throughout the course, we'll use Google Colab to write Python code, explore essential programming concepts, and dive into data manipulation, analysis, and visualization using popular libraries like Pandas, NumPy, and Matplotlib. Each session will build upon the previous, and the notebook will be updated with answers and solutions as we progress through the course.

# Week 3 - Introduction to Pandas

Pandas is a powerful data analysis and manipulation library built on top of Python.

It provides essential data structures like **Series** and **DataFrame** to work with tabular data efficiently.

## Section 1: Introduction to Pandas

### 1.1 Importing libraries

In [ ]:
# Importing the Pandas Library
import pandas as pd

### 1.2 Series
A **Series** is a one-dimensional labeled array capable of holding any data type.

Think of it like a column in a spreadsheet.

- Creating a series
  
    Syntax: `series_name = pd.series(list_name)`
- Accessing elements

    Syntax: `series_name[index]`

In [ ]:
# Creating a Series from a list
num_list = [10, 20, 30, 40]
numbers = pd.Series(num_list)
print(numbers)

In [ ]:
print(numbers[0])
print(numbers[0:4])

### 1.3 DataFrame
A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is like a table in a database or an Excel spreadsheet.

- Creating a DataFrame:
  
    Syntax: `df = pd.DataFrame(dict_name)`
- Accessing Columns:
  
    Syntax: `df["Column_Name"]`
- Accessing rows:
  - `loc` gets rows (and/or columns) with particular labels.

    Syntax: `df.loc[0] # value at index label 0`

  - `iloc` gets rows (and/or columns) at integer locations.

    Syntax: `df.iloc[0]   # value at index location 0`

In [ ]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [24, 27, 22],
    "City": ["New York", "San Francisco", "Boston"]
}

In [ ]:
# Creating a DataFrame from a Dictionary
df = pd.DataFrame(data, index = [3,1,2])
print("\n People dataframe:\n\n", df)

In [ ]:
# Accessing Columns
# Name column
name = df["Name"]
print("\nAccessing 'Name' column:\n\n", name)

# Age column
print("\nAccessing 'Age' column:\n\n", df["Age"])

In [ ]:
df
df["Age"]

In [ ]:
# Accessing Rows using .iloc and .loc
# iloc uses the integer index position
print("\nAccessing row using iloc:\n", df.iloc[0])

# loc uses the assigned position
print("\nAccessing row using loc:\n", df.loc[1])

## Section 2: DataFrame Operations

To illustrate DataFrame operations and data manipulation with a real dataset, let's use a commonly available dataset like the **Iris dataset**. It is a well-known dataset containing measurements of different species of the Iris flower.

The Iris dataset contains 150 rows and 5 columns:

1. sepal.length: Sepal length in centimeters.
2. sepal.width: Sepal width in centimeters.
3. petal.length: Petal length in centimeters.
4. petal.width: Petal width in centimeters.
5. variety: Species of the flower (Setosa, Versicolor, or Virginica).

### 2.1 Importing Data

1. Using upload() function

```
from google.colab import files
uploaded = files.upload()
```

2. Manually importing data
- Click on directory icon
- Click on the upload button
- Select the file and click open

In [ ]:
from google.colab import files
uploaded = files.upload()

### 2.2 Reading Data

Read a file from a given path or URL and loads it into a DataFrame. This function is the most common way to read data into a Pandas DataFrame.

Reading a CSV File (Use a .CSV file path if available)

Syntax:  `df = pd.read_csv("data.csv")`

Reading an Excel File (Use a .xls file path if available)

Syntax:  `df = pd.read_excel("data.xls")`

In [ ]:
df = pd.read_csv("iris (1).csv")

### 2.3 Exploring and Analyzing Data

1. Viewing the first few rows - ```head()``` function
2. Viewing the last few rows - ```tail()``` function
3. Retrive basic information (Column names, null values in each column and DataType of each column) - ```info()``` function
4. Statistical Summary of Numerical Columns - ```describe()``` function

In [ ]:
# First few rows
print("First few rows of Iris dataframe:\n")
head_rows = df.head()
head_rows

In [ ]:
# First n rows
print("First 15 rows of Iris dataframe:\n")
head_15_rows = df.head(15)
head_15_rows

In [ ]:
# Last few rows
print("Last few rows of Iris dataframe:\n")
tail_rows = df.tail()
tail_rows

In [ ]:
# Last n rows
print("Last 2 rows of Iris dataframe:\n")
df.tail(2)

In [ ]:
# Information about the DataFrame
print("Basic DataFrame information:\n")
df.info()

In [ ]:
# Summary for numerical columns
print("\nStatistical summary:\n")
df.describe()

### 2.4 Selecting and Filtering Data

1. Selecting columns: This is done by passing a list of column names to the DataFrame.

   ```name = df[["col1", "col2"]]```

2. Filtering Rows Based on Condition
  
  ``` name = df[df["col"] condition]```

3. Fltering Rows Based on Multiple Conditions: Multiple conditions can be combined using logical operators (& for and, | for or) to filter rows that meet specific criteria. The conditions must be enclosed in parentheses ()

  ``` name = df[(df["col"] condition) operator (df["col"] condition)]```

In [ ]:
# Selecting sepal.length and variety column

cols = df[["sepal.length", "variety"]]
cols

In [ ]:
# Filtering rows based on single condition

filtered_df_seplen = df[df["sepal.length"] > 5.5]
print("\nRows where Sepal Length > 5.5:\n")
filtered_df_seplen

In [ ]:
# Filtering Rows Based on Multiple Conditions

filtered_setosa = df[(df["sepal.length"] > 5.5) & (df["variety"] == "Setosa")]
print("\nRows with Sepal Length > 5.5 and Variety 'setosa':\n")
filtered_setosa

### 2.5 Sorting and Renaming

1. Sorting Data by a Column: The ```sort_values()``` function sorts the DataFrame by a specified column. Optional parameter can be added, reference [`sort_values()` documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html)

  Syntax: `name = df.sort_values(by="col_name", parameter)`

2. Renaming Columns: Changes the name of one or more columns. The `inplace=True` parameter modifies the DataFrame in place without creating a copy.

  Syntax: df.rename(columns={"Old name": "New name"}, inplace=True)

In [ ]:
# Sorting Data by Petal Width in ascending order
sorted_df = df.sort_values(by="petal.width", ascending=True)
print("\nDataFrame sorted by Petal Width in ascending order:\n")
sorted_df

In [ ]:
# Sorting Data by Petal Width in descending order
sorted_df = df.sort_values(by="petal.width", ascending=False)
print("\nDataFrame sorted by Petal Width in descending order:\n")
sorted_df

## Section 3: Data Manipulation with Pandas

### 3.1 Adding New Columns

In [ ]:
# Creating a New Column for Sepal Area
df["Sepal Area (cm^2)"] = df["sepal.length"] * df["sepal.width"]
print("\nDataFrame with new column 'Sepal Area (cm^2)':\n")
df

### 3.2 Grouping Data

1. `groupby()`: Groups data based on a specific column.
  
  Syntax: `name = df.groupby("column_name")`
2. `mean()`: Calculates the mean of all numerical columns for each group.

3. `count()`: Counts the number of non-zero rows

In [ ]:
# Grouping and Aggregating by Species
grouped_data = df.groupby("variety").count()
print("\nGrouped data by 'Variety' (Average values):\n")
grouped_data

### 3.3 Get total number of null values in every column

The `isna()` function is used to calculate if the value in that column-row is a null value, return True if value is null else False if not null.

In [ ]:
# Individual data entry
df.isna()

In [ ]:
df.isna().sum()

### 3.4 Remove null values

Using `dropna()` function

### 3.5 Replace null values

Using `fillna()` function

## Practice Questions - 1

#### 1. Extract only the columns "sepal length" and "petal length" from the dataset.

#### 2. Filter rows where "sepal_length" is greater than 6.0 and "petal_width" is less than 2.0.

#### 3. Sort the dataset by "sepal_width" in ascending order and display the first five rows.

#### 4. Rename all the column to look like "petal_length" -> "Petal Length (cm)"

#### 5. Create a new column "Sepal Ratio" which is the ratio of "sepal_length" to "sepal_width".

#### 6. Group the data by "variety" and calculate the average "sepal_length" for each group.